<div class="flex flex-col">
  <div class="flex items--center justify--center header">
    <form id="search-form" class="flex items--center">
        <input id="search_field" type="text" class="form-input"/>
        <span class="search-submit-button items--center" onclick="Ctrl.search(document.getElementById('search_field'))">
          <img src="images/magnify.svg" />
        </form>
    </span>
  </div>
  <div class="flex flex-col search-content">
    <div id="search_result_holder" class="flex search-results"></div>
    <div class="flex items--center justify--center">
      <span id="load_more_button_holder" class="load-more-button" onclick="Ctrl.loadMore(document.getElementById('search_field'))">Load More</span>
    </div>
  </div>
</div>
<script>
  window.onload = function() {
    (function setHolder() {
      window.Ctrl.setContentHolder(document.getElementById('search_result_holder'))
      window.Ctrl.setButtonHolder(document.getElementById('load_more_button_holder'))
    })(window)

  }
</script>